*.iml
AndroidClient/local.properties
AndroidClient/.idea/libraries
AndroidClient/.idea/modules.xml
AndroidClient/.idea/workspace.xml
AndroidClient/.DS_Store
JavaServer/.idea/workspace.xml
AndroidClient/.gradle
AndroidClient/build
AndroidClient/captures
AndroidClient/.externalNativeBuild
*.class
JavaServer/UserData
